In [38]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [46]:
# train_df = pd.read_csv('./data/london/London_historical_aqi_other_stations_20180331.csv')
# train_df = pd.read_csv('./data/london/London_historical_aqi_forecast_stations_20180331.csv')
train_df = pd.read_csv('./data/beijing/beijing_17_18_aq.csv')

In [47]:
print(train_df.columns.values)
train_df.head()

['stationId' 'utc_time' 'PM2.5' 'PM10' 'NO2' 'CO' 'O3' 'SO2']

         stationId             utc_time  PM2.5   PM10    NO2   CO   O3  SO2
0  aotizhongxin_aq  2017-01-01 14:00:00  453.0  467.0  156.0  7.2  3.0  9.0
1  aotizhongxin_aq  2017-01-01 15:00:00  417.0  443.0  143.0  6.8  2.0  8.0
2  aotizhongxin_aq  2017-01-01 16:00:00  395.0  467.0  141.0  6.9  3.0  8.0
3  aotizhongxin_aq  2017-01-01 17:00:00  420.0  484.0  139.0  7.4  3.0  9.0
4  aotizhongxin_aq  2017-01-01 18:00:00  453.0  520.0  157.0  7.6  4.0  9.0

In [48]:
train_df.tail()

           stationId             utc_time  PM2.5  PM10  NO2  CO  O3  SO2
311005  zhiwuyuan_aq  2018-01-31 11:00:00    NaN   NaN  NaN NaN NaN  NaN
311006  zhiwuyuan_aq  2018-01-31 12:00:00    NaN   NaN  NaN NaN NaN  NaN
311007  zhiwuyuan_aq  2018-01-31 13:00:00    NaN   NaN  NaN NaN NaN  NaN
311008  zhiwuyuan_aq  2018-01-31 14:00:00    NaN   NaN  NaN NaN NaN  NaN
311009  zhiwuyuan_aq  2018-01-31 15:00:00    NaN   NaN  NaN NaN NaN  NaN

In [49]:
train_df.info()
train_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311010 entries, 0 to 311009
Data columns (total 8 columns):
stationId    311010 non-null object
utc_time     311010 non-null object
PM2.5        290621 non-null float64
PM10         227747 non-null float64
NO2          292359 non-null float64
CO           268197 non-null float64
O3           290589 non-null float64
SO2          292462 non-null float64
dtypes: float64(6), object(2)
memory usage: 19.0+ MB

,PM2.5,PM10,NO2,CO,O3,SO2
count,290621.000000,227747.000000,292359.000000,268197.000000,290589.000000,292462.000000
mean,58.785570,88.059259,45.792457,0.960677,55.692755,8.981003
std,66.113851,89.292875,32.065045,1.001856,53.821424,11.702594
min,2.000000,5.000000,1.000000,0.100000,1.000000,1.000000
25%,16.000000,37.000000,20.000000,0.400000,12.000000,2.000000
50%,39.000000,70.000000,39.000000,0.700000,45.000000,5.000000
75%,77.000000,113.000000,66.000000,1.200000,79.000000,11.000000
max,1004.000000,3000.000000,300.000000,15.000000,504.000000,307.000000

In [50]:
train_df.describe(include=['O'])

         stationId             utc_time
count       311010               311010
unique          35                 8701
top     gucheng_aq  2017-12-25 15:00:00
freq          8886                  105

In [51]:
train_df[['stationId', 'PM2.5']].groupby(['stationId'], as_index=False).mean().sort_values(by='PM2.5', ascending=False)

            stationId      PM2.5
13         liulihe_aq  88.944265
31      yongledian_aq  72.773823
32            yufa_aq  71.487059
17      nansanhuan_aq  70.971359
24        tongzhou_aq  69.156677
7       dongsihuan_aq  65.924197
29        yizhuang_aq  64.298242
9   fengtaihuayuan_aq  62.886971
30  yongdingmennei_aq  62.855911
21         qianmen_aq  62.763934
8         fangshan_aq  62.438816
27     xizhimenbei_aq  61.615193
3           daxing_aq  61.566671
20          pinggu_aq  60.652012
26   wanshouxigong_aq  60.409247
6           dongsi_aq  60.330240
11         gucheng_aq  59.916898
33         yungang_aq  58.706225
18    nongzhanguan_aq  57.800352
2       beibuxinqu_aq  57.399474
23         tiantan_aq  56.729736
10        guanyuan_aq  56.338110
5       donggaocun_aq  56.146887
14       mentougou_aq  55.731513
22          shunyi_aq  55.519028
0     aotizhongxin_aq  55.480055
25          wanliu_aq  54.766055
34       zhiwuyuan_aq  54.429028
19       pingchang_aq  50.480673
15           miyun_aq  50.098691
28          yanqin_aq  49.496660
12         huairou_aq  48.350787
4         dingling_aq  45.829620
1         badaling_aq  45.278841
16     miyunshuiku_aq  42.001962

In [52]:
train_df[['stationId', 'PM10']].groupby(['stationId'], as_index=False).mean().sort_values(by='PM10', ascending=False)

            stationId        PM10
13         liulihe_aq  134.315402
3           daxing_aq  107.165350
8         fangshan_aq  105.679329
24        tongzhou_aq  103.991752
17      nansanhuan_aq  102.340096
9   fengtaihuayuan_aq  100.789089
7       dongsihuan_aq   97.638469
11         gucheng_aq   96.917908
6           dongsi_aq   95.818520
2       beibuxinqu_aq   95.082727
10        guanyuan_aq   94.346973
31      yongledian_aq   93.032147
18    nongzhanguan_aq   92.313328
29        yizhuang_aq   91.721225
23         tiantan_aq   90.017508
26   wanshouxigong_aq   89.492770
32            yufa_aq   88.941432
14       mentougou_aq   88.919178
25          wanliu_aq   86.192645
33         yungang_aq   86.174565
1         badaling_aq   85.325442
27     xizhimenbei_aq   83.540456
21         qianmen_aq   83.432212
0     aotizhongxin_aq   81.646714
22          shunyi_aq   80.697006
30  yongdingmennei_aq   80.185807
28          yanqin_aq   79.287491
15           miyun_aq   78.320993
19       pingchang_aq   76.942348
12         huairou_aq   74.180652
20          pinggu_aq   73.288271
34       zhiwuyuan_aq   70.029949
4         dingling_aq   64.416765
5       donggaocun_aq   60.001263
16     miyunshuiku_aq   55.905744

In [53]:
train_df[['stationId', 'O3']].groupby(['stationId'], as_index=False).mean().sort_values(by='O3', ascending=False)

            stationId         O3
16     miyunshuiku_aq  77.645473
34       zhiwuyuan_aq  71.046834
20          pinggu_aq  70.891795
4         dingling_aq  68.948980
14       mentougou_aq  68.645421
12         huairou_aq  66.715184
33         yungang_aq  63.538337
28          yanqin_aq  61.440670
5       donggaocun_aq  60.159517
15           miyun_aq  59.787408
22          shunyi_aq  58.945356
0     aotizhongxin_aq  58.853100
8         fangshan_aq  58.729505
18    nongzhanguan_aq  56.415667
29        yizhuang_aq  56.263739
6           dongsi_aq  55.730200
3           daxing_aq  55.665430
10        guanyuan_aq  55.453266
24        tongzhou_aq  54.916406
11         gucheng_aq  54.383366
19       pingchang_aq  54.062638
1         badaling_aq  53.960344
26   wanshouxigong_aq  52.223157
31      yongledian_aq  52.041101
2       beibuxinqu_aq  51.130678
23         tiantan_aq  51.026967
25          wanliu_aq  50.865500
21         qianmen_aq  50.504986
9   fengtaihuayuan_aq  49.319225
32            yufa_aq  48.757619
27     xizhimenbei_aq  47.424489
30  yongdingmennei_aq  43.053478
13         liulihe_aq  36.874412
7       dongsihuan_aq  31.972882
17      nansanhuan_aq  30.321299